body{background:#f7f7f7;}

.wm_case_mod_bd, .weimob_guide{display:none;}
.wm_case_mod_bd.show, .weimob_guide.show{display:block;}

.Public{ width:980px; margin:0 auto; padding:20px 0;}
.Public-box{ background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0 !important;
filter:Alpha(opacity=30); background:#fff;height:auto; padding-bottom:20px; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;box-shadow:0 1px 2px #666;  -webkit-box-shadow:0 1px 2px #666; -moz-box-shadow:0 1px 2px #666;padding:5px; }

#nav_lis{ width:130px; float:left;}
#nav_lis li{ height:26px;color:#FFF; line-height:26px; text-align:center; cursor:pointer;position:relative;}
#nav_lis li:hover{ background:rgba(255,255,255,0.8)!important; background:#fefefe; color:#000; border-radius:5px 0 0 5px; font-size:14px;}
#nav_lis li.hover{ background:rgba(255,255,255,0.8)!important; background:#fefefe; color:#000; border-radius:5px 0 0 5px; font-size:14px;}

.wm_case_mod_bd{_background:#fff; filter:Alpha(opacity=80); padding-bottom:100px;width:840px;  border-radius:0 5px 5px 5px; padding-top:30px;background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important; height:500px; overflow: hidden;}