@charset "utf-8";
.button {display: inline-block;zoom: 1; *display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;font: 14px/100% Arial, Helvetica, sans-serif;padding:0.25em 0.6em 0.3em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em; -moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {color: #faddde;border: solid 1px #980c10;background: #d81b21;background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));background: -moz-linear-gradient(top,  #ed1c24,  #A51715);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top,  #c9151b,  #a11115); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); color:#fff;}
.red:active {color: #de898c;background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
.cor_bs,.cor_bs:hover{color:#ffffff;}

.keTitle{height:100px; line-height:100px; font-size:30px; font-family:'微软雅黑'; color:#FFF; text-align:center; background:url(../images/bodyBg3.jpg) repeat-x bottom left; font-weight:normal}
.kePublic{ background: #FFF; padding: 0px 0px; }
.keBottom{color:#FFF; padding-top:25px; line-height:28px; text-align:center; font-family:'微软雅黑'; background:url(../images/bodyBg2.jpg) repeat-x top left; padding-bottom:25px}
.keTxtP{font-size:16px; color:#ffffff;}
.keUrl{color:#FFF; font-size:30px;}
.keUrl:hover{ text-decoration: underline; color: #FFF; }
.mKeBanner,.mKeBanner div{text-align:center;}
img{-ms-interpolation-mode:bicubic}
i,em{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
input,select,textarea,button{font-size:100%;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
button,input[type=button],input[type=submit]{cursor:pointer}
input[type=search]{-webkit-appearance:textfield}
textarea{overflow-y:auto;resize:vertical}
.clear,.clearfix{zoom:1}
.clear:after,.clearfix:after{content:' ';display:block;clear:both;height:0;visibility:hidden}
.hidden,.hide{display:none}
/*特效基本框架CSS结束，应用特效时，以上样式可删除*.clear:after,.clearfix:after{content:' ';display:block;clear:both;height:0;visibility:hidden}/
/* 效果CSS开始 */
.fx_grid_c1{width:990px;margin:0 auto}

.fx_banner{width:1903px;overflow:hidden;position:relative; margin: 0px auto;}
.fx_banner_inner{position:relative;height:500px;}

.fx_banner_img{width:20000px;}
.fx_banner_img li{float:left;height:602px;width:1903px;position:relative; }
.fx_banner_link{position:absolute;top:0;left:0;width:100%;height:602px;cursor:pointer}

.fx_banner .child{position:absolute;width:1903px;height:602px}
.fx_banner_common{position:relative}
.fx_banner_common a{position:absolute;top:50%;margin-top:-315px;width:41px;height:119px;cursor:pointer;display:block;overflow:hidden;opacity:.5;filter:alpha(opacity=50);display:none;}

.fx_banner_pre{left:0;background:url(../images/ban_pre_24.png); }
.fx_banner_next{right:0;background:url(../images/ban_next_24.png); }
.fx_banner_pre:hover,.fx_banner_next:hover{opacity:1;filter:alpha(opacity=100); display:block;}
.fx_banner .control{width:200px;position:absolute;top:560px;left:50%;margin-left:-100px;text-align:center}
.fx_banner .control li{display:inline-block;*display:inline;*zoom:1;margin:0 5px;width:18px;height:18px;border-radius:50%;cursor:pointer;background:#333;}
.fx_banner .control li a{display:none}
.fx_banner .control li.current{background:#fff;}
/* 效果CSS结束 */