{{include file="header1.html"}}	
<link rel="stylesheet" type="text/css" href="css/m_business.css"/>
{{include file="header2.html"}}	
	<div class="warp3">		
        <div id="ad1" style=" background:#2bd2ff;">
        	<div class="ad">
				<img src="images/bi_1.jpg" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)" />
            </div>
        </div>
        <div id="ad2" style=" background:#feae4d;">
           <div class="ad">
				<img src="images/bi_2.jpg" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)" />
           </div>
        </div>
        <div id="ad3" style=" background:#9295fe;">
           <div class="ad">
				<img src="images/bi_3.jpg" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)" />
           </div>
        </div>
        <div id="ad4" style=" background:#52ceff;">
           <div class="ad">
				<img src="images/bi_4.jpg" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)" />
           </div>
        </div>
    </div>
{{include file="footer.html"}}