{{include file="header1.html"}}	
<link href="css/m_case.css" rel="stylesheet">
{{include file="import_slider_css_js.html"}}	
{{include file="header2.html"}}	
	<style>body{ background:rgb(241, 241, 241);}</style>
	<div class="section fp-section" id="section1" data-anchor="secondPage" style="background-color: rgb(241, 241, 241);">
				<div class="main">
            <ul class="pro" id="nav">
                <li class="btn_nav0"><a href="javascript:;" onclick="sampleShow(0)" class="_undefined_hover">深圳市朋沃科技有限公司</a></li>
                <li><a href="javascript:;" class="btn_service" onclick="sampleShow(0)"></a></li>
                <li><a href="javascript:;" class="btn_contact" onclick="sampleShow(0)"></a></li>
                <li><a href="javascript:;" class="btn_jobs" onclick="sampleShow(0)"></a></li>
                <li><a href="javascript:;" class="btn_h5" onclick="sampleShow(0)"></a></li>
                <li><a href="javascript:;" class="btn_protfolio" onclick="sampleShow(1)"></a></li>
            </ul>
            <div class="frm_con">
                <div class="ovr" id="ifrOvr"><div class="page_con" style="margin-left: 0px;">
                <div class="p1_main">
                    <div class="concept">
                        <p>@ERAMUS （意拉慕斯网络营销中心）是ERAMUS创建的子公司品牌，致力于企业网络营销和品牌建设，在网络推广、网络营销定位、品牌自媒体代运营等众多领域为企业提供优质服务，以确保提升企业品牌价值以及产品口碑，树立行业正面品牌的形象。
 本公司在网络营销推广领域累积数以百计的渠道资源（覆盖主流门户网站、专业论坛、大众论坛、社交媒体、自媒体和全平台电子市场等渠道）以及组成近百人的专业推广团队和积累了多品牌行业网络推广营销经验。我们拥有众多品牌推广成功案例，在合作客户中树立了较高的口碑及声誉。
意拉慕斯网络营销中心专注于互联网深度营销推广，并致力于成为坐镇珠三角，辐射全国的互联网营销推广机构。</p>
					</div>
                </div>
            </div>
                    
                </div>
            </div>
        </div>
        <ul class="hid" id="ulMainCon">
            <li>
                <div class="p1_main">
                    <div class="concept">
                        <p>@ERAMUS （意拉慕斯网络营销中心）是ERAMUS创建的子公司品牌，致力于企业网络营销和品牌建设，在网络推广、网络营销定位、品牌自媒体代运营等众多领域为企业提供优质服务，以确保提升企业品牌价值以及产品口碑，树立行业正面品牌的形象。
 本公司在网络营销推广领域累积数以百计的渠道资源（覆盖主流门户网站、专业论坛、大众论坛、社交媒体、自媒体和全平台电子市场等渠道）以及组成近百人的专业推广团队和积累了多品牌行业网络推广营销经验。我们拥有众多品牌推广成功案例，在合作客户中树立了较高的口碑及声誉。
意拉慕斯网络营销中心专注于互联网深度营销推广，并致力于成为坐镇珠三角，辐射全国的互联网营销推广机构。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="h5_protflio_main">	
					<!--临时 -->
					<div class="h5_protflio_con">
                        <div style="width:100%;height:530px;border:1px solid #DCDCDC;">
                            <div style="float:left;margin:50px 50px 0 50px;">
                                <p style="text-align:justify;font-size:16pt;font-family:Microsoft YaHei;">
                                    <span style="color:#E53333;">天翼流量800推广个案:</span>结合当下火热明星邓紫棋植入产品活动信息，吸引135248人关注，3579名网友互动讨论，曝光传播效果佳。
                                </p>
                            </div>
                            <div style="float:left;margin:0 100px;">
                                <img src="/kindeditor/attached/image/20150422/20150422092315_30331.jpg" alt="" width="600px" data-pinit="registered" /> 
                            </div>
                        </div>
					</div>	
					<!--临时 -->						
                </div>
            </li>
            <li>
               <div class="h5_protflio_main">
					<!--临时 -->
					<div style="width:100%;height:530px;border:1px solid #DCDCDC;">
                        <div style="float:left;width:200px;margin:100px;">
                            <p style="text-align:justify;font-size:16pt;font-family:Microsoft YaHei;">
                                <span style="color:#C00000;">流量宝优化:</span> 2014年2月产品上线，力拼同名劲敌（欧朋流量宝），从没有排名到如今的搜索引擎中官网、长尾关键词、百科、经验、文库均在首页上榜，效果显著。
                            </p>
                        </div>
                        <div style="float:left;margin-top:50px;">
                            <img src="/kindeditor/attached/image/20150422/20150422092745_23346.jpg" alt="" width="320" data-pinit="registered" /> 
                        </div>
                    </div>
					<!--临时 -->
                </div>
            </li>
            <li>
                <div class="h5_protflio_main">
					<!--临时 -->
					<div style="width:100%;height:530px;border:1px solid #DCDCDC;">
                        <div style="float:left;margin:50px 50px 0 50px;">
                            <p style="text-align:justify;font-size:16pt;font-family:Microsoft YaHei;">
                                <span style="color:#C00000;">189邮箱电子市场排名优化:</span>下载优化总量50万余次，电子市场评论优化4500余次，历史最佳排名第一页第二位（安智市场）。
                            </p>
                        </div>
                        <div style="float:left;margin:0px 50px;">
                            <img src="/kindeditor/attached/image/20150422/20150422093655_99089.jpg" alt="" data-pinit="registered" /> 
                        </div>
                    </div>
					<!--临时 -->
				</div>
            </li>
            <li>
                <div class="h5_protflio_main">
					<!--临时 -->
					<div style="width:100%;height:530px;border:0 solid #DCDCDC;">
                        <div style="float:left;margin-right:100px;position:relative;left:20px;top:50px;">
                            <img src="/kindeditor/attached/image/20150422/20150422095547_47963.jpg" alt="歌莉娅" width="300px" data-pinit="registered" /> 
                        </div>
                        <div>
                            <h1 style="margin-top:50px;">
                                <span style="font-size:18pt;font-family:Microsoft YaHei;color:#C00000;font-weight:bold;">歌莉娅</span> 
                            </h1>
                            <ul style="font-size:18pt;font-family:Microsoft YaHei;">
                                <li>
                                    微信平台推送文案策划
                                </li>
                                <li>
                                    微博平台活动文案策
                                </li>
                                <li>
                                    日常维护
                                </li>
                            </ul>
                            <p style="font-size:16.0pt;font-family:Microsoft YaHei;">
                                清晰定位歌莉娅目标群体。在微信平台引入微商城，将服务细致化，策划典型文案 ，微博成功吸粉<span style="font-size:18.0pt;color:#C00000;">92.7</span>万。
                            </p>
                        </div>
                    </div>	
					<!--临时 -->
                </div>
            </li>
            <li>
                <div class="h5_protflio_main">
					<div class="h5_protflio_con">
						<img src="images/friend.png" />
					</div>
                </div>
            </li>
        </ul>
		<script src="js/b_scrollFun.js"></script>
		<script src="js/b_showDialog.min.js"></script>		
		<script src="js/b_gameCase.js"></script>
		<script src="js/b_main.js"></script>	
	</div>
{{include file="footer.html"}}