{{include file="header1.html"}}	
<link rel="stylesheet" type="text/css" href="css/m_contract.css"/>
{{include file="header2.html"}}	
 
	<div style="width:630px; margin:0px auto;">
    	<img src="images/contract_us.jpg" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)" />
    </div>
	<div class="warp4">
		<div class="contact">
			<ul>
				<li><a href="introduce.php">公司简介</a>&nbsp;|&nbsp;</li>
				<li><a href="recruit.php">招聘</a>&nbsp;|&nbsp;</li>
				<li><a href="mailto:evan_eramus@163.com">联系我们</a></li>
				<div class="cl"></div>
			</ul>
		</div>
		<div class="tel">
			<div class="icon">
				<img src="images/icon_02.png" width="53" height="25" />
			</div>
			<div class="telinfo">电话：020-38277556</div>
			<div class="icon">
				<img src="images/icon_03.png" width="53" height="25" />
			</div>
			<div class="emailinfo">evan_eramus@163.com</div>
			<div class="cl"></div>
		</div>
		<div class="address">
			<div class="icon">
				<img src="images/icon_01.png" width="53" height="33" />
			</div>
			<div class="information">广州市天河区龙口中路130号龙威广场A313</div>
			<div class="cl"></div>
		</div>
	</div>
{{include file="footer.html"}}