{{include file="header1.html"}}	
<link rel="stylesheet" type="text/css" href="css/m_index.css"/>
{{include file="import_slider_css_js.html"}}	
{{include file="header2.html"}}	
	<div class="banner2">
		<div id="js_banner" class="fx_banner" style="height:380px; background:red">
            <ul id="js_banner_img" class="fx_banner_img clear" style="height:502px;">
                <li style="background:#76b7fb;">
                    <div class="fx_banner_inner fx_grid_c1">
                        <div class="child" data-z="2" style="left:0;top:0;"><img src="images/0_1.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                        <div class="child" data-z="3" style="left:0px;top:0;"><img src="images/0_2.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                    </div>
                </li>
				<li style="background:#efffc2;">
                    <div class="fx_banner_inner fx_grid_c1">
                        <div class="child" data-z="2" style="left:0;top:0;"><img src="images/1_1.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                        <div class="child" data-z="3" style="left:0px;top:0;"><img src="images/1_2.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                    </div>
                </li>
                <li style="background:#f28555;">
                    <div class="fx_banner_inner fx_grid_c1">
                        <div class="child" data-z="2" style="left:0;top:0;"><img src="images/2_1.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                        <div class="child" data-z="3" style="left:0px;top:0;"><img src="images/2_2.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                    </div>
                </li>
                <li style="background:#64e2ff;">
                    <div class="fx_banner_inner fx_grid_c1">
                        <div class="child" data-z="2" style="left:0;top:0;"><img src="images/3_1.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                        <div class="child" data-z="3" style="left:0px;top:0;"><img src="images/3_2.png" alt="" style=" max-width: 630px; width: expression(this.width >630 && this.height < this.width ? 630: true)"></div>
                    </div>
                </li>
            </ul>
            <div class="fx_banner_common fx_grid_c1">
                <a ytag="30000" id="js_banner_pre" href="javascript:;" class="fx_banner_pre"></a>
                <a ytag="30010" id="js_banner_next" href="javascript:;" class="fx_banner_next"></a>
            </div>
        </div>
    </div>
    <div class="warp1">
    	<div class="title">
        	<p><img src="images/announce.png" width="28" height="24" />&nbsp;&nbsp;{{$announce.title}}</p>
        </div>
        <div class="line"><img src="images/line_01.png" alt="意拉慕斯" width="435" height="12" /></div>
    	<div class="content">
			<p style="font-size:25px; margin-bottom:10px; font-weight:bold;">我们做<span style=" color:#f00;">WHAT?</span></p>
			<p style=" font-weight:bold;">从专业互联网视角出发，为商家与消费者之间搭建无隙沟通平台，</p>
			<p style=" font-weight:bold;">投入远低于传统广告行业的费用</p>
			<p style=" font-weight:bold;">即可收获价值远超传统广告行业的覆盖人群及传播效应</p>
        </div>   
    </div>
	<div class="cl"></div>
{{include file="footer.html"}}
