{{include file="header1.html"}}	
<link rel="stylesheet" type="text/css" href="css/job.css"/>	
{{include file="header2.html"}}			
        <div style="100%; background:#69b7b7; height:50px;">
            <div style="width:1000px; margin:0px auto;">
                <div class="nav_news">
                    <p><a href="introduce.php">公司简介</a></p>
                </div>
                <div class="nav_news">
                    <p><a href="recruit.php">招聘信息</a></p>
                </div>
            </div>
        </div>
        <div class="pnews_bg">
    		<div class="pnews_top">
    			<img src="images/news/job.png" />
    		</div>
		</div>
{{include file="footer.html"}}