{{include file="header1.html"}}	
<link rel="stylesheet" type="text/css" href="css/news.css"/>	
{{include file="header2.html"}}			
        <div style="100%; background:#69b7b7; height:50px;">
            <div style="width:1000px; margin:0px auto;">
                <div class="nav_news">
                    <p><a href="introduce.php">公司简介</a></p>
                </div>
                <div class="nav_news">
                    <p><a href="recruit.php">招聘信息</a></p>
                </div>
            </div>
        </div>
		<div class="pnews_top">
			<div class="pnews_logo"><img src="images/news/news_01.gif" /></div>
			<div class="pnews_top_content">
				<p><img src="images/news/news_02.gif" /></p>
				<p style="margin-top:5px;">@ERAMUS （意拉慕斯网络营销中心）是ERAMUS创建的子公司品牌，致力于企业网络营销和品牌建设，在网络推广、网络营销定位、品牌自媒体代运营等众多领域为企业提供优质服务，以确保提升企业品牌价值以及产品口碑，树立行业正面品牌的形象。本公司在网络营销推广领域累积数以百计的渠道资源（覆盖主流门户网站、专业论坛、大众论坛、社交媒体、自媒体和全平台电子市场等渠道）以及组成近百人的专业推广团队和积累了多品牌行业网络推广营销经验。我们拥有众多品牌推广成功案例，在合作客户中树立了较高的口碑及声誉。意拉慕斯网络营销中心专注于互联网深度营销推广，并致力于成为坐镇珠三角，辐射全国的互联网营销推广机构。</p>
			</div>
			<div class="cl"></div>
		</div>
        <div class="pnews_line"><img src="images/news/line.png" /></div>
        <div class="pnews_mid">
			<div class="pnews_mid_content">
				<p><img src="images/news/news_03.gif" /></p>
				<p style="margin-top:20px;">为企业私人订制互联网营销方案，高覆盖率多维度媒体资源整合投放，占领市场商机空白点，深度挖掘潜在客户群体，打造企业网络品牌。</p>
			</div>
			<div class="pnews_mid_pic"><img src="images/news/news_04.gif" /></div>
			<div class="cl"></div>
		</div>
        <div class="pnews_line"><img src="images/news/line.png" /></div>
		<div class="pnews_bottom">
			<div class="pnews_bottom_pic"><img src="images/news/news_05.png" /></div>
			<div class="pnews_bottom_content">
				<p><img src="images/news/news_06.gif" /></p>
				<p style="margin-top:5px;">近百人的专业推广团队，拥有丰富互联网思维营销经验，累积数以百计的渠道资源。团队主要分成八个部门：危机公关部、移动媒体部、论坛部、策划部、技术开发部、SEO优化部、公众媒体部和问答部。而且我们会根据业务需求，快速响应需求并组成特别小组为企业抢占互联网商机，实现利益最大化。</p>
			</div>
			<div class="cl"></div>
		</div>
{{include file="footer.html"}}